@import url('reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$color-primary: #ff5959;
$color-secondary: #676fa3;
$color-tertiary: #cddeff;
$color-quaternary: #eef2ff;
$padding-base: 1rem;
$margin-base: 1rem;
$font-size: 16px;
$font-family: 'Share Tech Mono';
$border-radius: 1rem;
$box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgb(30 140 190 / 80%);

@mixin button($font, $padding, $color) {
  padding: $padding;
  background-color: $color;
  border: 1px solid $color;
  color: scale($color: $color, $lightness: -40);
  font-family: $font;
  font-weight: bolder;
  transition: all 0.4s;

  &:hover {
    background-color: scale($color: $color, $lightness: 10);
    border: 1px solid scale($color: $color, $lightness: 10);
  }

  &:active {
    background-color: scale($color: $color, $lightness: -5);
    border: 1px solid scale($color: $color, $lightness: -5);
  }

  &.equal {
    background-color: scale($color: $color, $lightness: 20);
    border: 1px solid scale($color: $color, $lightness: -20);
    color: scale($color: $color, $lightness: 10);

    &:hover {
      background-color: scale($color: $color, $lightness: -30);
      border: 1px solid scale($color: $color, $lightness: -30);
    }

    &:active {
      background-color: scale($color: $color, $lightness: -10);
      border: 1px solid scale($color: $color, $lightness: 10);
      color: scale($color: $color, $lightness: 20);
    }
  }
}

@mixin grid-btn($repeat) {
  display: grid;
  grid-template-columns: repeat($repeat, 1fr);
}

body {
  font-family: $font-family;
  font-size: $font-size;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $color-tertiary;
}

.content {
  max-width: 400px;
  padding: calc($padding-base * 2);
  background-color: $color-quaternary;
}

.container-visor {
  padding: $padding-base;
  background-color: $color-tertiary;
  border: none;
  font-family: $font-family;
  font-weight: bolder;
  text-align: right;

  .visor-current-number {
    height: calc($font-size * 2.5);
    color: scale($color: $color-tertiary, $lightness: -50);
    font-size: calc($font-size * 2.5);
  }

  .visor-accumulator {
    height: calc($font-size * 0.75);
    padding-bottom: calc($padding-base);
    color: scale($color: $color-tertiary, $lightness: -20);
    font-size: calc($font-size * 0.75);
  }
}

.container-keyboard {
  display: grid;
  grid-template-areas:
    'k_functionality k_operators'
    'k_numbers k_operators';
}

.keyboard-numbers {
  grid-area: k_numbers;

  @include grid-btn($repeat: 3);
  @include button($font: $font-family, $padding: $padding-base, $color: $color-primary);
}

.keyboard-operators {
  grid-area: k_operators;

  @include grid-btn($repeat: 1);
  @include button($font: $font-family, $padding: $padding-base, $color: $color-secondary);
}

.keyboard-functionality {
  grid-area: k_functionality;

  @include grid-btn($repeat: 3);
  @include button($font: $font-family, $padding: $padding-base, $color: $color-secondary);
}
