@import url(reset.scss);
// @import url(normalize.scss);

.container {
  background: #21a0a0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #fcfff7;

  padding: 50px;
  height: 300px;
  max-width: 400px;
}
