@import url('reset.scss');
// @import url(normalize.scss);

.container {
  align-items: center;
  background: #21a0a0;
  background-color: rgb(255, 192, 203);

  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.content {
  background-color: #fcfff7;
  height: 300px;
  max-width: 400px;
  padding: 50px;
}
