/*
  PADRÕES BACANAS PARA SE SEGUIR!

  HIERARQUIA VISUAL
  - existe um esforço consciente em destacas as partes mais importantes da interface.
  - esta sendo levado em consideração o padrão de leitura em F.
  - os textos e seus tamanhos, peso e cor levam em consideração a sua importância.
  - os ícones, seus tamanhos e estilo levam em consideração sua importância
  - os espaçamentos seguem um padrão para reforçar a hierarquia e facilitar o uso

  ESPAÇAMENTO NEGATIVO
  - Existe espaço negativo suficiente para facilitar a interpretação da interface.
    REGRA --------------------------------DESKTOP-----MOBILE
    margens verticais de uma sessão       64px        24px
    elementos de uma sessão               32px        16px
    elementos de um card                  16px        08px
    elementos dentro do card              8px         04px

  ALINHAMENTOS E GRIDS
  - elementos de um mesmo grupo estão alinhados uniformemente.
  - os textos do corpo estão alinhados à esquerda para facilitar a leitura (nunca justificado)
  - o grid esta sendo usado e respeitado
    REGRA --------------------------------DESKTOP-----------MOBILE
    frame                                 1440px X 1024px   375px x 812px
    colunas                               12                4
    tipo                                  centralizado      esticado
    calha                                 32px              16px
    largura                               70px
    margem                                                  24px

  PALETA DE CORES
  - as cores não estão muito saturadas
  - o contrast esta acima de 4.5.1
  - são usadas, sempre que possível, cores facilmente reconhecidas para 'sucesso' e 'perigo'

  TIPOGRAFIA
  - o destaque dos textos, através de tamanho, cor e peso da fonte, segue a ordem:
    REGRA ---------------------PESO---------------DESKTOP-------MOBILE
    h1 - títulos               bold               36px          24px
    h2 - subtítulos            bold               24px          18px
    corpo                      regular            16px          16px
    legenda                    regular italic     16px          16px

  ICONOGRAFIA
  - os ícones seguem um padrão de acordo com seu nível de importância.
  - os ícones tem o mesmo estilo e de preferência foram retirados da mesma biblioteca.
  - os ícones refletem seu estado.
    REGRA ----------------------TAMANHO
    pequeno                     16px
    normal                      24px
    grande                      40px
*/

@use 'sass:color';

@import url('reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

$break-small: 400px;
$break-medium: 800px;
$break-large: 1200px;
$color-primary: rgb(41, 52, 98);
$color-secondary: rgb(242, 76, 76);
$color-tertiary: rgb(247, 215, 22);

body {
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1rem;
}

p {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $break-small) {
    margin-bottom: 16px;
  }
}

%title {
  color: $color-primary;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
}

%link {
  color: $color-tertiary;
  text-decoration: none;

  &:hover,
  &:focus { color: color.scale($color: $color-tertiary, $lightness: 50%); }
}

.c-link { @extend %link; }

.c-code {
  display: inline-block;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 25%);
  border-radius: 4px;
  font-family: 'Roboto Mono', monospace;

  &--secondary { background: rgba(0, 0, 0, 10%); }
}

.c-emphasis {
  font-weight: 700;
  font-style: italic;
}

.c-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $color-primary;
}

.c-content {
  max-width: 300px;
  margin: 24px;
  padding: 24px 16px;
  background: $color-secondary;
  border-radius: 4px;
  box-shadow: 0 0 0 16px rgba(0, 0, 0, 25%);
  font-weight: 400;

  @media (min-width: $break-small) {
    max-width: 600px;
    margin: 64px;
    padding: 64px 32px;
  }
}

.c-divider {
  height: 24px;
  border: none;

  @media (min-width: $break-small) {
    height: 64px;
  }
}

.c-header {
  &__title {
    @extend %title;

    margin: 0 0 16px;
    font-size: 24px;

    @media (min-width: $break-small) {
      margin: 0 0 32px;
      font-size: 36px;
    }
  }
}

.c-section {
  &__title {
    @extend %title;

    margin-bottom: 16px;
    font-size: 18px;

    @media (min-width: $break-small) {
      margin-bottom: 32px;
      font-size: 24px;
    }
  }
}

.c-list {
  list-style-position: inside;

  &--disc {
    list-style-type: disc;
  }

  &__item {
    padding: 8px 0;

    .c-list--disc & { padding: 4px 0; }
    &:first-child { padding-top: 0; }
    &:last-child { padding-bottom: 0; }

    @media (min-width: $break-small) {
      padding: 16px 0;

      .c-list--disc & { padding: 8px 0; }
    }
  }

  .c-list__title {
    margin: 0 0 4px;
    font-size: 16px;
    font-weight: 700;

    @media (min-width: $break-small) {
      margin: 0 0 8px;
    }
  }
}

.c-warning {
  margin: 16px 0;
  padding: 8px;
  background: rgba(0, 0, 0, 10%);
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $break-small) {
    margin: 32px 0;
    padding: 16px;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;

    @media (min-width: $break-small) {
      margin-bottom: 8px;
    }
  }
}
